body,h1,h2,h3,h4,h5 {
    font-family: 'Nunito', sans-serif;
}

.a {
    max-width:1400px;
}

.a3 img {
    width: 800px;
    height: 300px;
}

.aaa h1, p{
    text-align: center;
}

.aa .span {
    background-color: black;
    color: white;
    padding: 5px 5px 5px 5px;
}

.a2 {
    position: absolute;
    width: 800px;
    height: 300px;
    background-color: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.a3 {
    margin-top: 50px;
    margin-left: 10px;
    border: 0.5px solid darkgray;
    box-shadow: 5px 5px 5px grey;
}

.a4 {
    margin-left: 15px;
    margin-top: 1px;
}

.a4 h5{
    margin-top: 1px;
}

.a5 p {
    text-align: left;
    margin-left: 15px;
}

.a8 .cmnts {
    float : right;
    width:15%;
    margin-top: -5%;
}

.cmnts .span {
    padding: 1.5px 5px 1.5px 5px;
}

.a9 .cmnts {
    float : right;
    width:15%;
    margin-top: -5%;
}

.right-side {
    width: 470px;
    height: 1180px;
    border: none;
    position: absolute;
    margin-top: 60px;
    margin-left: 850px;
    display: flex;
    flex-direction: column;
}

.my-intro {
    border: 0.5px solid darkgray;;
    width: 470px;
    height: 435px;
    box-shadow: 5px 5px 5px grey;
}

.my-intro img {
    height: 300px;
    width: 470px;
}

.my h3{
    margin-left: 11px;
    text-align: left;
    margin-top: 10px;
    font-size: 22px;
}

.my p {
    margin-left: 11px;
    text-align: left;
    color: black;
    font-size: 14px;
    margin-top: 15px;
}

.my-posts {
    border: 0.5px solid darkgray;;
    width: 470px;
    height: 480px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 30px;
}

.popular {
    width: 470px;
    height: 70px;
    border: 0.1px solid lightgray;
    background-color: lightgray;
}

.popular h3 {
    font-size: 22px;
    margin-left: 12px;
}

.my-posts .my-list {
    width: 430px;
    height: 330px;
    background-color: none;
    border: none;
    margin-left: -5%;
}


.my-posts .my-list .list .list-a{
    height: 70px;
    width: 70px;
    margin-top: 10px;
}

/* .my-posts .my-list .list span {
    /* margin-left: 10px;
    margin-top: 20px;
} */

.my-posts ul {
    list-style-type: none;
    
}

.my-posts .my-list .list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.my-posts .my-list .list .list-b {
    margin-top: 20px;
    margin-left: 2px;
    font-size: 22px;
}

.my-posts .my-list .list .list-c-1 {
    margin-top: 50px;
    margin-left: -29%;
    font-size: 15px;
}

.my-posts .my-list .list .list-c-2 {
    margin-top: 50px;
    margin-left: -28%;
    font-size: 15px;
}

.my-posts .my-list .list .list-c-3 {
    margin-top: 50px;
    margin-left: -30%;
    font-size: 15px;
}

.my-posts .my-list .list .list-c-4 {
    margin-top: 50px;
    margin-left: -35.2%;
    font-size: 15px;
}







.my-labels {
    border: 0.5px solid darkgray;;
    width: 430px;
    height: 200px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 30px;
}

.tags {
    width: 430px;
    height: 70px;
    border: 0.1px solid lightgray;
    background-color: lightgray;
}

.tags h3 {
    font-size: 22px;
    margin-left: 12px;
}



.my-labels .more {
    border: none;
    display: inline-block;
    margin-top: 2px;
    height: 100px;
    letter-spacing: 1px;
    line-height: 28px;
}

.my-labels .more .travel {
    color: white;
    background-color: black;
    padding: 1px 1px 1px 1px;
    font-size: 14px;
}

.my-labels .more .pro-1 {
    color: black;
    background-color: lightgray;
    padding: 1px 1px 1px 1px;
    font-size: 14px;
}

.my-labels .more {
    width: 400px;
    margin-left: 10px;
    margin-top: 15px;
}



.foot {
    width: 100%;
    height: 180px;
    border: 0.1px solid gray;
    background-color: gray;
    margin-top: 98%;
}


.foot p {
    margin-top: 40px;
    margin-left: -80%;
}

.button-1{
    background-color: lightgray; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    margin-top: 10px;
    margin-left: 10%;
}

.button-2{
    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttons {
    margin-top: 20px;
    margin-left: -9%;
}



.button-1:hover {
    background-color: rgb(192, 192, 162);
}

.button-2:hover {
    background-color: rgb(46, 46, 43);
}
